@import '_base/_config';
@import '_base/_tagsConfig';
@import '_layout/_containers';
@import '_modules/_buttons';
@import '_modules/_form';
@import '_modules/_navBar';
@import '_modules/_toasters';

body{
    font-family: $base-font-family; 
    background-color: $background;
    color: $base-font-color;
    padding:0;
    margin: 0;
}
