{% extends 'accounts/form_page.html' %}

    {% block form_title %}
        log in
    {% endblock %}

    {% block form %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <fieldset>
                <label for='username'>username</label>
                <input type='text' name='username'>
            </fieldset>
            <fieldset>
                <label for='password' >password</label>
                <input type='password' name='password'>
            </fieldset>
            <input type="submit" value='login' class='btn btn-outline'>
        </form>
    {% endblock %}

    {% block form_footer %}
        Don't have an accout, yet? <a class="clean" href="{% url 'register' %}">register</a>
    {% endblock %}
    

