/*
    sets default config for basic tags
*/


a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    &:hover, &:focus, &:active{
        outline: none;
        text-decoration: none;
    }
}

input{
    min-height: 32px;
    border: none;
    &:hover, &:focus, &:active{
        outline: none;
        box-shadow: $drop-shadow;
    }
}

h1, h2, h3, h4, h5, h6, p, label, button{
    color: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
}