/*
roles: 
    background: website background color
    background-accent: aligns to backgroun color, but in a diffenrent shade: 
        for use in shadows, descrete boxes, disabled buttons etc.
    material: main blocks color throughout the pages. 
        default border, default static button etc.
    accent-1: an accent color that works well with detal against background color.
    accent-2: an accent color that is usefull for filling, backgrounds etx. less contrast.
    accent-3: special purpose accent color.
*/


//-------- watermellon vintage theme:
    //background:
    $warm-white: #f7f7f4;
    //main-color-sec
    $light-beige:#ddddd3;
    //main-color / base-text-color
    $black: #424242;
    //accent-1
    $berry: #e84b5a;
    //accent-2:
    $mint: #03b797;
    //accent-3:
    $warm-yellow: rgb(253, 227, 142);

// ------- classy b&w theme:
    //background:
    $neutral-offwhite: #f8f5f5;
    //main-color-sec
    $light-gray: #e4e4e0;
    //main-color / base-text-color
    $black: #353532;
    //accent-2:
    $dark-gray: #777777;
    //accent-3:
    $white: white;


