/*
    sets default config for basic tags
*/
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
}

input {
  min-height: 32px;
  border: none;
}
input:hover, input:focus, input:active {
  outline: none;
  box-shadow: 3px 4px 7px 0px #e4e4e0;
}

h1, h2, h3, h4, h5, h6, p, label, button {
  color: inherit;
  font-style: inherit;
  padding: 0;
  margin: 0;
}

/*
 basic container components and their decorators.
*/
.container {
  margin: 1rem;
  padding: 1rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.card {
  border-radius: 0;
  border: solid 2px #353532;
  margin: 0.4rem;
  padding: 0.2rem;
}
.card div {
  padding: 0.6rem;
}
.card .card-header {
  border-bottom: solid 1px #353532;
  margin-bottom: 0.4rem;
  text-align: center;
}
.card .card-body {
  padding: 2rem;
  margin: 0.4rem;
}
.card .card-footer {
  border-top: solid 1px #353532;
  margin-top: 0.4rem;
  text-align: center;
}

.card.simple-card {
  padding: 2rem;
}

/*
holds button classes.
and sets button specific variables using Config values.
*/
.btn {
  margin-top: 0.4rem;
}

.btn-outline {
  border-radius: 0;
  border: solid 2px #353532;
  border-color: #353532;
  background-color: #f8f5f5;
  color: #353532;
}
.btn-outline:focus, .btn-outline:hover, .btn-outline:active {
  background-color: #353532;
  color: #f8f5f5;
}

.btn-block {
  border-radius: 0;
  border-style: solid;
  border-color: #353532;
  background-color: #353532;
  color: #f8f5f5;
}
.btn-block:hover, .btn-block:focus, .btn-block:active {
  box-shadow: 3px 4px 7px 0px #e4e4e0;
  font-weight: bold;
}

.form-wrapper form {
  display: grid;
  row-gap: 0.2rem;
}
.form-wrapper form .input-w-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}
.form-wrapper form .input-w-label input {
  min-height: 32px;
  border: none;
}
.form-wrapper form .input-w-label inputfocus {
  outline: none;
  box-shadow: inset 0px 2px 16px 0px #e4e4e0;
}
.form-wrapper form .input-w-label input.submit-button {
  color: #f8f5f5;
  background-color: #353532;
}
.form-wrapper form .input-w-label input.submit-buttonhover, .form-wrapper form .input-w-label input.submit-buttonfocus {
  box-shadow: 3px 4px 7px 0px #e4e4e0;
}
.form-wrapper form .input-w-label input.submit-buttonactive {
  color: #353532;
  background-color: #f8f5f5;
}

nav.topnav {
  display: flex;
  flex-direction: column;
  background-color: #353532;
  justify-content: space-between;
}
nav.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 1rem 2rem;
}
nav.topnav ul li {
  color: #f8f5f5;
  margin-right: 0.4rem;
}
nav.topnav ul li.active {
  color: #777777;
}
nav.topnav ul.main {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
nav.topnav ul.menu-items {
  display: none;
  background-color: #e4e4e0;
}
nav.topnav ul.menu-items li {
  padding: 1rem 0;
  color: #353532;
}
nav.topnav ul.menu-items.expand {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 601px) {
  nav.topnav {
    flex-direction: row;
    padding: 1rem 2rem;
  }
  nav.topnav ul {
    padding: 0;
  }
  nav.topnav ul.main {
    width: fit-content;
  }
  nav.topnav ul.main li#menu-button {
    display: none;
  }
  nav.topnav ul.menu-items {
    background-color: #353532;
    display: flex;
  }
  nav.topnav ul.menu-items li {
    color: #f8f5f5;
    padding: 0;
  }
}

#django-message-container {
  position: absolute;
  z-index: -1;
  background-color: #e4e4e0;
  width: 100%;
  transition: margin-top 0.3s;
  margin-top: -4em;
}
#django-message-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0.6rem;
}
#django-message-container ul li {
  padding: 0.4rem;
}
#django-message-container ul li.success:before {
  content: ":D  ";
}
#django-message-container ul li.warning:before {
  content: ":/  ";
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #f8f5f5;
  color: #353532;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=base_master.css.map */
