{% extends 'base/layout.html' %}
{% load static %}
{% block body %}
<div class="container mt-4">
    <h1>Imported bootstrap classes</h1>
    <p>the appearances of components has been modified a litte because of the customized variables</p>
    <hr>

    <section id='buttons' class='mb-5'>
        <h3>buttons</h3>
        <p>all options of bs buttons and how they look</p>
        <hr>
        <div class='row'>
            <div class="col-lg-6 col-md-12 d-grid gap-2">
                <h5>default variants:</h5>
                <div><i class='text-muted'>[btn btn-$theme-color]</i></div>
                
                <label>small:</label>
                <div>
                    <button class="btn btn-primary btn-sm">primary</button>
                    <button class="btn btn-secondary btn-sm">secondary</button>
                    <button class="btn btn-light btn-sm">light</button>
                    <button class="btn btn-dark btn-sm">dark</button>
                </div>
                
                <label>regular:</label>
                    <div>
                        <button class="btn btn-primary">primary</button>
                        <button class="btn btn-secondary">secondary</button>
                        <button class="btn btn-light">light</button>
                        <button class="btn btn-dark">dark</button>
                    </div>

                <label>large:</label>
                <div>
                    <button class="btn btn-primary btn-lg">primary</button>
                    <button class="btn btn-secondary btn-lg">secondary</button>
                    <button class="btn btn-light btn-lg">light</button>
                    <button class="btn btn-dark btn-lg">dark</button>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 d-grid gap-2">
                <h5>outlined variants:</h5>
                <div><i class='text-muted'>[btn btn-outline-$theme-color]</i></div>
                <label>small:</label>
                <div>
                    <button class="btn btn-outline-primary btn-sm">primary</button>
                    <button class="btn btn-outline-secondary btn-sm">secondary</button>
                    <button class="btn btn-outline-light btn-sm">light</button>
                    <button class="btn btn-outline-dark btn-sm">dark</button>
                </div>
                <label>regular:</label>
                <div>
                    <button class="btn btn-outline-primary">primary</button>
                    <button class="btn btn-outline-secondary">secondary</button>
                    <button class="btn btn-outline-light">light</button>
                    <button class="btn btn-outline-dark">dark</button>
                </div>
                <label>large:</label>
                <div>
                    <button class="btn btn-outline-primary btn-lg">primary</button>
                    <button class="btn btn-outline-secondary btn-lg">secondary</button>
                    <button class="btn btn-outline-light btn-lg">light</button>
                    <button class="btn btn-outline-dark btn-lg">dark</button>
                </div>
            </div>
        </div>
    </section>

    <section id='tabs' class='mb-5'>
        <h3>Tabs</h3>
        <div id="tabs-container" data-nav="#tab-nav" data-content="#tab-content" class="bg-light">
            <ul id="tab-nav" class="nav nav-tabs mt-2">
                    <li class="nav-item">
                        <a class="nav-link active" data-container="#tabs-container" data-target="#tab-content-1">content 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-container="#tabs-container" data-target="#tab-content-2">content 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-container="#tabs-container" data-target="#tab-content-3">content 3</a>
                    </li>
            </ul>
            <div id="tab-content" class="container p-3 bg-body">
                <div id="tab-content-1" class='collapse show'>
                    Hello, i'm tab content 1
                </div>
                <div id="tab-content-2" class='collapse'>
                    Hello, i'm tab content 2
                </div>
                <div id="tab-content-3" class='collapse'>
                    Hello, i'm tab content 3
                </div>
            </div>  
        </div>
    </section>
    
    <section id='cards' class='mb-5'>
        <h3>cards</h3>
        <hr>
        <div class='row'>
            <div class="col-lg-3 col-md-4 col-sm-12 p-2">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">I'm a regular card</div>
                        <div class="card-subtitle text-muted"> I'm a muted subtitle</div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text"> I am the body content of the card. inside a paragraph of class card-text that gives me an extra margin-bottom. but seems mostly useless</p>
                    </div>
                    <div class="card-footer"><button>i'm a footer button!</button> </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 p-2">
                <div class="card border-0">
                    <div class="card-header">
                        <div class="card-title h5">card with no border</div>
                        <div class="card-subtitle text-muted"> I'm very subtle</div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text"> I am the body content of the card. inside a paragraph of class card-text that gives me an extra margin-bottom. but seems mostly useless</p>
                    </div>
                    <div class="card-footer"><button class='btn btn-dark'>i'm a dark button!</button> </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 p-2">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="card-title h5">card with shadow</div>
                        <div class="card-subtitle text-muted"> I'm vintage.</div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text"> I am the body content of the card. inside a paragraph of class card-text that gives me an extra margin-bottom. but seems mostly useless</p>
                    </div>
                    <div class="card-footer"><button class='btn btn-secondary'>i'm a secondary button!</button> </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 p-2">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="card-title h5">no border + shadow</div>
                        <div class="card-subtitle text-muted"> I'm very pleasant</div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text"> I am the body content of the card. inside a paragraph of class card-text that gives me an extra margin-bottom. but seems mostly useless</p>
                    </div>
                    <div class="card-footer"><button class='btn btn-light'>i'm a light button!</button></div>
                </div>
            </div>

        </div>

        <div class='row'>
            <div class="col-lg-4 col-md-6 col-sm-12 p-1">
                <div class="card">
                    <img src="{% static 'base/media/img_h.png'%}" class="card-img-top"></img>
                    <div class="card-body">I'm a card with an horizontal image as top and a body with text </div>                
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-1">
                <div class="card bg-light">
                    <img src="{% static 'base/media/img_h.png'%}" class="card-img-top"></img>
                    <div class="card-body">I'm a card with an horizontal image as top and a body with text. my background is light.</div>                
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-1">
                <div class="card bg-dark border-0">
                    <img src="{% static 'base/media/img_h.png'%}" class="card-img-top"></img>
                    <div class="card-body text-light">my background is dark,  my text color is light and i have no borders</div>                
                </div>
            </div>
    </section>




</div>

{% endblock %}