{% extends 'base/pre_layout.html' %}

{% block layout %}
<div>
    <header col-1>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'base:index' %}">Brand</a>
            <button id="menuButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                
                <li name='reboot' class="nav-item">
                    <a  class="nav-link" href="{% url 'base:reboot' %}">reboot</a>
                </li>
                <li name='classes' class="nav-item">
                    <a  class="nav-link" href="{% url 'base:classes' %}">components</a>
                </li>
                <li name='variables' class="nav-item">
                    <a class="nav-link" href="{% url 'base:variables' %}">variables</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li name='dashboard' class="nav-item">
                        <a class="nav-link" href="{% url 'base:dashboard' %}">dashboard</a>
                    </li>
                    <li name='logout' class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">logout</a>
                    </li>
                {% else %}
                    <li name='login' class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <main class="mb-5">
    {% block body %}
    {% endblock %}
    </main>
</div>
<footer class='bg-dark p-3 text-light'> the footer </footer>
{% endblock %}