{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'base/js/base_master.js' %}" type="module"></script>
    <link rel="stylesheet" href="{% static 'base/css/my_custom_base_bs.css'%}"></style>
    <title>{%block title%}{% endblock %}</title>
</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
    <div id="django-message-container">
        
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                <div {% if message.tags %} class="status-pill {{ message.tags }}"{% endif %}></div>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <button id="close-django-message" class="btn-close"></button>
    </div>
    {% block layout %} {% endblock %}
</body>
</html>