{% extends 'base/layout.html' %}

{% block body %}
<div class="container mt-4">
    <h1>tags reboot</h1>
    <p>How basic tags are displayed without any class assignement</p>
    <p>(except for grids and coitainers to organize things)</p>
    <hr>

    <div class='row'>
    
    <section id='text' class='mb-5'>
        <h3>Text</h3>
        <p>current style for main texts tags.</p>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h5>Headings</h5>
                <hr>
                <h1>I'm a text content in tag H1</h1>
                <h2>I'm a text content in tag H2</h2>
                <h3>I'm a text content in tag H3</h3>
                <h4>I'm a text content in tag H4</h4>
                <h5>I'm a text content in tag H5</h5>
                <h6>I'm a text content in tag H6</h6>
            </div>
            <div class="col-lg-6 col-md-12">
                <h5>other text tags</h5>
                <hr>
                <div>I'm a text content in tag div</div>
                <p>I'm a text content in tag p</p>
                <label>I'm a text content in tag label</label>
                <div><a href="#">regular anchor</a></div>
                <div><button>default button</button></div>
            </div>
        </div>
    </section>

    <section id='lists' class="mb-5">
        <h3>Lists</h3>
        <p>current style for main texts tags.</p>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h5>unordered list</h5>
                <hr>
                <ul>
                    <li>list item one</li>
                    <li>list item two</li>
                    <ul>
                        <li>nested one</li>
                        <li>nested two</li>
                    </ul>
                    <li>list item three</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <h5>ordered list</h5>
                <hr>
                <ol>
                    <li>list item one</li>
                    <li>list item two</li>
                    <ul>
                        <li>nested one</li>
                        <li>nested two</li>
                    </ul>
                    <li>list item three</li>
                </ol>
            </div>
        </div>
    </section>

    <section id='table' class="col-lg-6 col-sm-12 mb-5">
        <h3>Table</h3>
        <hr>
        <div>
            <table>
                <thead>
                    <th>head 1</th>
                    <th>head 2</th>
                    <th>head 3</th>
                </thead>
                <tbody>
                    <tr>
                        <td>data A in col 1</td>
                        <td>data A in col 2</td>
                        <td>data A in col 3</td>
                    </tr>
                    <tr>
                        <td>data B in col 1</td>
                        <td>data B in col 2</td>
                        <td>data B in col 3</td>
                    </tr>
                    <tr>
                        <td>data C in col 1</td>
                        <td>data C in col 2</td>
                        <td>data C in col 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id='form' class="col-lg-6 col-sm-12 mb-5">
        <h3>form</h3>
        <hr>
        <div>
            <form>
                <fieldset>
                    <label for="text-input">text input:</label>
                    <input type="text" name="text-input" />
                </fieldset>

                <fieldset disabled>
                    <label for="text-input-disabled">disabled text input:</label>
                    <input type="text" name="text-input-disabled" />
                </fieldset>

                <fieldset>
                    <label for="numeric-input">numeric input:</label>
                    <input type="number" name="numeric-input" />
                </fieldset>

                <fieldset>
                    <label for="date-input">date input:</label>
                    <input type="date" name="date-input" />
                </fieldset>

                <fieldset>
                    <label for="select-input">select input:</label>
                    <select name="select-input">
                        <option value="1">option one</option>
                        <option value="2">option two</option>
                        <option value="3">option three</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="checkbox-input">checkbox input:</label>
                    <input type="checkbox" name="checkbox-input">
                </fieldset>
                
                <input type="submit" value="input submit">
            </form>
        </div>
    </section>

    <section id='detail' class="col-lg-6 col-sm-12 mb-5">
        <h3>detail</h3>
        <hr>
        <details>
            <summary>
                Summary
            </summary>
            <div>
                <p>detail data on summary</p>
                <button>know more button</button>
            </div>
        </details>
            
    </section>

</div>

{% endblock %}