/*
 basic container components and their decorators.
*/


@mixin default_border(){
    border-radius: $base-border-radius;
    border: $base-border-bundle;
}


.container{
    margin: 1rem;
    padding: 1rem;
}

.center-content{
    // will center content horizontally
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.card{
    // a card like container, whith larger margins and a border
    @include default_border();
    margin: .4rem;
    padding: .2rem;

    div{
        padding: .6rem;
    }
    .card-header{
        border-bottom: $base-inner-border-bundle;
        margin-bottom: .4rem;
        text-align: center;
    }

    .card-body{
        padding: 2rem;
        margin: .4rem;
    }

    .card-footer{
        border-top: $base-inner-border-bundle;
        margin-top: .4rem;
        text-align: center;
    }
}

.card.simple-card{
    padding: 2rem;
}

