/*
holds button classes.
and sets button specific variables using Config values.
*/

$base-button-background-color: $main-color!default;
$base-button-text-color: $background!default;


.btn{
    margin-top: .4rem;
}

.btn-outline{
    border-radius: $base-border-radius;
    border: $base-border-bundle;
    //ovewrites border color with button background color
    border-color: $base-button-background-color;
    
    background-color: $base-button-text-color;
    color: $base-button-background-color;

    &:focus, &:hover, &:active{
        background-color:$base-button-background-color;
        color: $base-button-text-color;
    }
}

.btn-block{
    border-radius: $base-border-radius;
    border-style: $base-border-style;
    border-color: $base-button-background-color;

    background-color: $base-button-background-color;
    color: $base-button-text-color;

    &:hover, &:focus, &:active{
        box-shadow: $drop-shadow;
        font-weight: bold;
    }
}
